<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<servlet>
		<servlet-name>priceInsertServlet</servlet-name>
		<servlet-class>com.laundrypro.price.PriceInsertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>priceInsertServlet</servlet-name>
		<url-pattern>/insertPrice</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>PriceRetrieveServlet</servlet-name>
		<servlet-class>com.laundrypro.price.PriceRetrieveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PriceRetrieveServlet</servlet-name>
		<url-pattern>/retrievePrice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PriceUpdateServlet</servlet-name>
		<servlet-class>com.laundrypro.price.PriceUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PriceUpdateServlet</servlet-name>
		<url-pattern>/priceUpdate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PriceDeleteServlet</servlet-name>
		<servlet-class>com.laundrypro.price.PriceDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PriceDeleteServlet</servlet-name>
		<url-pattern>/deletePrices</url-pattern>
	</servlet-mapping>


</web-app>